.redux__container {
    display: flex;
    flex-direction: column;
}
.redux__input {
    height: 34px;
    width: 220px;
    margin: 8px;
    box-sizing: border-box;
    padding: 4px;
}
.redux__btn {
    display: inline-flex;
    padding: 8px;
    color: white;
    justify-content: center;
    align-items: center;
}
.redux__btn--add-btn {
    flex: 0 0 auto;
    background-color: red;
}
